:root {
  --text-color: #4b4f51;
  --accent-color: #fb4c47;
  --accent-color-secondary: #ff383d;
  --accent-color-title: #fa5652;
  --title-color: #035755;
  --button-bg-color: rgba(250, 86, 82, 0.15);
  --white-color: #ffffff;
  --footer-text-color: #00402e;
  --copyright-color: #415e56;
}
body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  text-transform: capitalize;
}
.container {
  width: 1470px;
  padding: 0 15px;
  outline: 2px solid green;
}
.flexbox {
  display: flex;
}

/* Styles for time */
section {
  outline: 2px solid red;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
.header .container.flexbox {
  justify-content: flex-end;
  align-items: center;
  /* outline: 2px solid red; */
}
/* logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;

  font-family: Red Hat Display, sans-serif;

  font-weight: 700;
  font-size: 19px;
  line-height: 1.32;
  text-transform: uppercase;

  color: var(--title-color);
}
.logo span {
  margin-left: 14px;
}
/* navigation */
.nav-list {
  justify-content: center;
  padding: 0;
  margin: 0 0 0 auto;
  /* margin-left: auto; */
}
.nav-item-link {
  display: block;

  padding: 52px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  color: var(--title-color);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 40px;
}
.nav-item:hover a,
.nav-item:focus a {
  color: var(--accent-color);
}

/* contacts header button */
.contact-button {
  padding: 17px 45px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  color: var(--accent-color);
  background-color: transparent;

  border: 2px solid var(--accent-color-secondary);
  border-radius: 46px;

  outline: none;
}

.contact-button:hover,
.contact-button:focus {
  cursor: pointer;
}

/* Hero */
.hero {
  height: 935px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-bottom: 205px; */
}
.hero-title,
.hero-text-alert {
  max-width: 635px;

  font-family: Red Hat Display, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: var(--accent-color-title);
}
.hero-text-alert {
  margin: 0 0 96px 0;
}
.hero-text {
  /* размеры разные из-за разного шрифта */
  max-width: 800px;
  margin: 0 0 54px 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.9;

  color: var(--text-color);
}

.hero-button {
  display: block;
  max-width: 250px;
  padding: 26px 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 65px;
  box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
}
/* Overview */
.overview .container {
  padding: 101px 62px 64px 0;
}

.overview .container::before {
  display: block;
  content: "";
  /* width: 960px;
  height: 957px; */
  /* height: 100%; */
  flex-basis: calc((100% - 30px) / 2);

  background-image: url(../images/coronavirus.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.overview-description {
  flex-basis: calc((100% - 30px) / 2);
}
.title {
  margin-bottom: 13px;
  font-family: Red Hat Display;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;

  color: var(--accent-color-title);
}

.subtitle {
  margin-bottom: 31px;
  font-family: Red Hat Display;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.19;

  color: var(--title-color);
}
.overview-text {
  margin-bottom: 56px;

  font-weight: 400;
  font-size: 20px;
  line-height: 2.15;

  color: var(--text-color);
}
.overview-button {
  display: inline-block;
  min-width: 200px;
  padding: 22px 0px;
  text-align: center;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: var(--accent-color-title);
  background-color: var(--button-bg-color);

  border-radius: 65px;
}
/* Contagion */
.section-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 2.15;

  color: var(--text-color);
}
.contagion-item-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.47;

  color: var(--title-color);
}
.contagion-item-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.85;

  color: var(--text-color);
}
/* Prevention */
.prevention-item-title {
  font-weight: 500;
  font-size: 47px;
  line-height: 1.47;

  color: var(--title-color);
}
.prevention-item-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 2.21;

  color: var(--text-color);
}

/* Footer */
.footer-menu-link {
  font-weight: 400px;
  font-size: 23px;
  line-height: 1.22;

  color: var(--footer-text-color);
}
.footer-menu-item:hover a,
.footer-menu-item:focus a {
  color: var(--accent-color);
}
.copyright {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.22;

  color: var(--copyright-color);
}
